.field {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

